<%- include('partials/_header', {title: "user Login"}) %>
<main style="margin: 1em">
  <h3>Login</h3>
  <form method="POST" action="/login" name="login" type="login">
    <label for="email">Email:</label>
    <input
      id="email"
      type="email"
      name="username"
      placeholder="email address"
    />
    <label for="password">Password:</label>
    <input
      id="password"
      type="password"
      name="password"
      placeholder="password"
    />
    <button type="Submit" class="btn btn-primary">Login</button>
  </form>
</main>
<%- include('partials/_footer') %>
