<%- include('partials/_header', {title: "user registration"}) %>

<div style="margin-left: 20px; margin-top: 20px">
  <h2>Create Account</h2>
  <form method="POST" action="/register">
    <div>
      <label for="email">Email address</label>
      <br />
      <input type="email" id="email" name="email" required />
    </div>
    <br />
    <div>
      <label for="password">Password</label>
      <br />
      <input type="password" id="password" name="password" required />
    </div>
    <br />
    <button type="submit" class="btn btn-primary">Register</button>
  </form>
</div>

<%- include('partials/_footer') %>
